<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meme material</title> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
</head>
<body>
    <main>

        <section class="py-5 text-center container">
          <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
              <h1 class="fw-dark">Meme material</h1>
              <p class="lead text-body-secondary">A website for all your meme needs</p>
            </div>
          </div>
        </section>
      
        <div class="album py-5 bg-body-tertiary">
          <div class="container">
            <form method="GET" action="">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Search</span>
                    <input type="text" class="form-control" placeholder="Search for a meme" aria-label="Search for a meme" name="q">
                </div>
            </form>
            
            {% if  request.args.get('q') %}
                <p>
                    Showing {{ total }} results for "{{ request.args.get('q') }}"
                    <a href="/">Clear search</a>
                </p> 
            {% else %}
                <p>
                    Showing {{ total }} results
                </p> 
            {% endif %}
                
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for meme in memes %}
                    <div class="col">
                        <div class="card shadow-sm">
                        <a href="{{ meme.url }}" target="_blank">
                          <img src="{{ meme.url }}" class="bd-placeholder-img card-img-top img-fluid" alt="{{ meme.name }}" width="100%">
                        </a>

                        <div class="card-body">
                            <p class="card-text">{{ meme.name }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                  <a href="{{ meme.url }}" class="btn btn-sm btn-outline-dark" target="_blank">View</a>
                                </div>
                                <small class="text-body-secondary">{{ meme.id }}</small>
                            </div>
                        </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
          </div>
        </div>
      
      </main>
</body>
</html>